//mixins 
@mixin placeholder {
  ::-webkit-input-placeholder {@content}
  :-moz-placeholder           {@content}
  ::-moz-placeholder          {@content}
  :-ms-input-placeholder      {@content}  
}



@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}


//pages 
@import "pages/signup",
		"pages/home";

//app 
@import "app/app";


//main nav starts 
nav.main-nav {
	@include clearfix;
	background: transparent;
	.logo {
		float:left;
		margin-left:20px;
		img {
			margin-top:5px;
		}
	}
	.nav-buttons {
		float:right;
		margin-right:30px;
		margin-top: 20px;
		a.btn {
			font-size:20px;
			color:#fff;
			padding:5px 0 5px 0px;
			border-radius:0;
			width:180px;
			margin-right:10px;
			font-family: 'Raleway', sans-serif;
			&:hover {
				opacity: 0.9;
			}
		} 
		a.sign-up-btn {
			border:2px solid #feb900;
			border-radius:4px;
		}
		a.sign-in-btn {
			background: transparent url('../img/lock-icon.png')no-repeat left;
			background-position: 15% 50%;
			padding-left:0px;
			
		}
	}
}


//signup form popup 
#signup-popup {
	button.close {
		color:#0e7b75;
		span {
			font-size:30px;
		}
	}
	.modal-header {
		text-align: center;
		border-bottom: 0;
	}
	.modal-content {
		border-radius:8px;
		border:9px solid #0e7b75;
		width:500px;
	}
}
.sign-up-form {
	width:100%;
	background: #fff;
	padding:20px;
	font-family: 'Raleway', sans-serif;
	padding-top:0;
	h3 {
		margin-top:0;
		text-align: center;
		font-size:30px;
	}
	form {
		@include placeholder {
		    color: #f7931e;
		    font-size:26px;
			font-size: 1.2vw;
		}
		.form-group {
			margin-bottom: 10px;
		}
			input {
				width:100%;
				border:3px solid #f7931e;
				font-size:26px;
				color:#f7931e;
				font-size: 1.2vw;
				border-radius:6px;
				padding-left:10px;
				outline: none;
				padding-top:5px;
				padding-bottom: 5px;
			}
			button {
				width:100%;
				color:#fff;
				font-size:26px;
				padding-top:7px;
				padding-bottom: 7px;
				font-size: 1.2vw;
				&:hover {
					opacity: 0.9;
				}
			}
			p {
				text-align: center;
				color:#302d2e;
				font-size:26px;
				font-size: 1.2vw;
			}
			button.sign-up-btn {
				background: #feb900;
			}
			button.facebook-btn {
				background: #125c71 url('../img/facebook-icon.png')no-repeat left;
				background-position: 2% 50%;
				padding-left:50px;
				background-size:10%;
			}
	}
}

