
//banner 

.banner {
	background: url('../img/banner-bg.jpg')no-repeat;
	background-size:cover;
	background-position:50% 50%;
	@include clearfix;
	position: relative;
	height:460px;
	.banner-text {
		font-family: 'Raleway', sans-serif;
		color:#fff;
		width:40%;
		margin-left:130px;
		margin-top:50px;
		float:left;
		text-align: center;
		h1 {
			font-size:60px;
			font-size: 2.5vw;
			font-weight:400;
		}
		h2 {
			font-weight: 300;
			font-size:36px;
			font-size: 1.8vw;
			span {
				font-style: italic;
			}
		}
	}
	.banner-buttons {
		text-align: center;
		margin-top:70px;
		.btn {
			font-size:24px;
			color:#fff;
			border:0;
			border-radius:10px;
			padding-top:13px;
			padding-bottom: 13px;
			font-family: 'Raleway', sans-serif;
			&:hover {
				opacity: 0.9;
			}
		}
		a.btn-primary {
			background: #038982;
			margin-right:10px;
		}
		a.btn-default {
			background: #f7931e;
			margin-left:10px;
		}
	}
	.banner-picture {
		width:50%;
		background: url('../img/phone.png')no-repeat center;
		background-position: 60% 35%;
		height: 100%;
		position:absolute;
		right:0;
		img {
			margin-top:77px;
			max-width:100%;
			
		}
	}

}

//content 

.content {
	padding-bottom:40px;
	.container {
		max-width:1200px;
		margin:0 auto;
	}

	header {
		text-align: center;
		color:#302d2e;
		padding-bottom: 30px;
		h3 {
			margin-top:30px;
			font-size:30px;
			font-size: 1.5vw;
			font-weight: 700;
			font-family: 'Raleway', sans-serif;
		}
		h4 {
			font-family: myriad-pro;
			font-size:18px;
			font-size: 1.3vw;
		}
	}


	.organization {
		background: url('../img/organization-bg.jpg')no-repeat;
		background-size:cover;
		background-position:50% 50%;
		height: 400px;
		font-family: 'Raleway', sans-serif;
		.top-section {
			h1 {
				color:#3c3638;
				margin-bottom: 5px;
				margin-top: 10px;
				padding-top: 10px;
			}
			h2 {
				color:#fff;
				margin-top: 0;

			}
			img {
				float:left;
				margin-right: 10px;
			}
		}
	}
	.middle {
		position:relative;
		z-index: 2;
		font-family: 'Raleway', sans-serif;
		@include clearfix;
		height: 400px;
		.image {
			position:absolute;
			top:-219px;
			left:0;
		}
		.top-section {
			text-align: right;
			h1 {
				color:#038983;
				margin-bottom: 5px;
				margin-top: 10px;
				padding-top: 10px;
			}
			h2 {
				margin-top: 0;
				color:#3c3b3b;
				font-size:26px;
			}
			img {
				float:right;
				margin-left: 10px;
			}
		}
		.text {
			float:right;
			width:600px;
			&>p {
				float:left;
				margin-bottom: 0;
				margin-top: 20px;
			}
			p {
				font-size:15px;
				color:#3c3b3b;
				line-height: 30px;
			}
			.smile {
				text-align: center;
				display: table;
				p {
					color:#038983;
					margin-bottom: 0;
				}
			}
		}
	}

	.helping {
		height: 625px;
		background: -webkit-linear-gradient(#898989 7%,#fff 19%); /* For Safari 5.1 to 6.0 */
	    background: -o-linear-gradient(#898989 7%,#fff 19%); /* For Opera 11.1 to 12.0 */
	    background: -moz-linear-gradient(#898989 7%,#fff 19%); /* For Firefox 3.6 to 15 */
	    background: linear-gradient(#898989 7%,#fff 19%); /* Standard syntax (must be last) */
	    position:relative;
	    padding-top: 170px;
	    font-family: 'Raleway', sans-serif;
	    z-index: 1;
    	img {
    		max-width: 100%;
    	}
	    .text {
	    	text-align: center;
	    	font-family: 'Raleway', sans-serif;
	    	position:absolute;
	    	margin-left:auto;
	    	width:500px;
	    	margin-right: auto;
	    	left:0;
	    	right:0;
	    	top:40%;
	    	h1 {
	    		color:#74b51a;
	    	}
	    	p {
	    		color:#3c3b3b;
	    		line-height: 30px;
	    	}
	    }
	}

	.mediator {
		background: url('../img/mediator-bg.png')no-repeat;
		background-size:cover;
		background-position:50% 50%;
		font-family: 'Raleway', sans-serif;
		.top-section {
			margin-bottom: 50px;
			img {
				float:left;
				margin-right: 10px;
			}
			h1 {
				color:#fff;
				margin-bottom: 5px;
				margin-top: 15px;
				padding-top: 15px;

			}
			h2 {
				margin-top: 0;
				font-size:20px;
			}
		}
		.main-section {
			@include clearfix;
			.text {
				float:left;
				width:52%;
				text-align: center;
				p {
					color:#fff;
					margin-top: 50px;
					line-height: 30px;
					font-size:15px;
				}
			}
			.image {
				float:right;
				width:45%;
				img {
					max-width: 100%;
				}
			}
		}
	}

}
