//sign up section begin 

.sign-up-section {
	background: url('../img/signup-page-bg.jpg')no-repeat center;

	background-size:cover;
	padding-top:30px;
	padding-bottom: 30px;
	font-size:100%;
	@include clearfix;
	.form {
		width:25%;
		background: #fff;
		border-radius:8px;
		border:9px solid #0e7b75;
		padding:30px;
		font-family: 'Raleway', sans-serif;
		margin-left:90px;
		padding-top:20px;
		float:left;
		h3 {
			margin-top:0;
			text-align: center;
			font-size:30px;
		}
		form {
			@include placeholder {
			    color: #f7931e;
			    font-size:26px;
			    font-size: 1.2vw;
			}
			.form-group {
				margin-bottom: 10px;
			}
			input {
				width:100%;
				border:3px solid #f7931e;
				font-size:26px;
				font-size: 1.2vw;
				color:#f7931e;
				border-radius:6px;
				padding-left:10px;
				outline: none;
				padding-top:5px;
				padding-bottom: 5px;
			}
			button {
				width:100%;
				color:#fff;
				font-size:26px;
				padding-top:7px;
				font-size: 1.2vw;
				padding-bottom: 7px;
				&:hover {
					opacity: 0.9;
				}
			}
			p {
				text-align: center;
				color:#302d2e;
				font-size:26px;
				font-size: 1.2vw;
			}
			button.sign-up-btn {
				background: #feb900;
			}
			button.facebook-btn {
				background: #125c71 url('../img/facebook-icon.png')no-repeat left;
				background-position: 2% 50%;
				padding-left:40px;
				background-size:8%;
			}
		}
	}

	.caption {
		float:right;
		color:#fff;
		width:40%;
		margin-right:100px;
		h1 {
			font-size:40px;
			text-align: center;
			font-size: 2.4vw;
		}
		p {
			font-family: 'Raleway', sans-serif;
			font-weight: 500;
			font-style: italic;
			font-size:26px;
			text-align: center;
			padding-left:40px;
			padding-right:40px;
			font-size: 1.3vw;
		}
		p.author {
			font-size:24px;
			margin-top:100px;
			float:right;
		}
		.picture {
			img {
				float:right;

			}
		}
	}
}

.signup-content {
	text-align:center;
	height: 300px;
	a {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		color:#302d2e;
		font-size:26px;
		font-size: 1.2vw;
		&:hover {
			text-decoration: none;
		}
	}
}