//$app nav

nav.app-nav {
	background: #038983;
	@include clearfix;
	.logo {
		margin-left:20px;
		float:left;
		img {
			margin-top:10px;
		}
	}
	.list-inline {
		float:right;
		margin-top:20px;
		margin-bottom: 0;
		display: table;
		margin-right:30px;
		border-collapse:separate;
		border-spacing:10px 0px;
		li {
			text-align: center;
			padding-left:40px;
			padding-right:40px;
			padding-top:10px;
			cursor: pointer;
			height: 70px;
			border-top-right-radius:10px;
			border-top-left-radius:10px;
			border-bottom:0;
			display: table-cell;
			vertical-align: bottom;
			a {
				color:#fff;
				font-size:14px;
				&:hover,&:active,&:focus {
					text-decoration: none;

				}
				p {
					margin-bottom: 0;
				}
			}

		}
		li.dashboard {
			background: url('../img/app/dashboard-icon.png')no-repeat center;
			&:hover,&:focus,&:active {
				background:#fff url('../img/app/dashboard-Icon-active.png')no-repeat center;
				a {
					color:#038983;
				}
			}
		}		
		li.calendar{
			background: url('../img/app/calendar-icon.png')no-repeat center;
			&:hover,&:focus,&:active {
				background:#fff url('../img/app/calendar-icon-active.png')no-repeat center;
				a {
					color:#038983;
				}
			}
		}		
		li.messages {
			background: url('../img/app/messages-icon.png')no-repeat center;
			&:hover,&:focus,&:active {
				background:#fff url('../img/app/messages-icon-active.png')no-repeat center;
				a {
					color:#038983;
				}
			}
		}		
		li.info-bank {
			background: url('../img/app/bank-icon.png')no-repeat center;
			&:hover,&:focus,&:active {
				background:#fff url('../img/app/bank-icon-active.png')no-repeat center;
				a {
					color:#038983;
				}
			}
		}		
		li.expires {
			background: url('../img/app/expires-icon.png')no-repeat center;
			&:hover,&:focus,&:active {
				background:#fff url('../img/app/expires-icon-active.png')no-repeat center;
				a {
					color:#038983;
				}
			}
		}		
		li.settings {
			background: url('../img/app/settings-icon.png')no-repeat center;
						&:hover,&:focus,&:active {
				background:#fff url('../img/app/settings-icon-active.png')no-repeat center;
				a {
					color:#038983;
				}
			}
		}
	}
}

//app content 

.app-content {
	@include clearfix;
	padding-top:5px;
	padding-bottom: 10px;
	a {
		float:right;
		margin-right:65px;
	}
}